   packages: 
       yum:
           yum-cron: [] 

   files:
       "/tmp/cron-config.sh" :
           mode: "000755"
           owner: root
           group: root
           content: |
               sudo yum list installed | grep yum-cron
               echo "yum-cron installed!"

   commands:
       01-cron-configure:
           command: /tmp/cron-config.sh
